/*! ==================================================================
   Main Styles
   ================================================================== */


//If you will use bootstrap you can remove this imports
//======================================//

// Box model reset
*,
*:before,
*:after
	box-sizing: border-box

body
	body-typography()
	background-color: $bg-color

h1
	h1-typography()

h2
	h2-typography()

h3
	h3-typography()

h4
	h4-typography()

h5
	h5-typography()

h6
	h6-typography()
p
	p-typography()

//======================================//
